@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:wght@300&display=swap');
$font-permanent-marker:'Permanent Marker', cursive;
$font-poppins:'Poppins', sans-serif;
$color-background:#FDFEFE;
$color-blue:#21618C;
$color-sky-blue:#2980B9;
$color-sky-blue-2:#AED6F1;
$color-white:#FDFEFE ;